body {
  background: rgb(189, 139, 188);
}

.UC {
  text-align: center;
  color: rgba(245, 245, 245, 0.779);
}
#cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
}

.UserCard {
  display: flex;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: transform 0.3s ease;
}
.UserCard:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.left-side {
  flex: 35%;
  text-align: center;
  border-radius: 4px 0 0 4px;
  background: rgb(35, 97, 92);
}
.left-side img {
  border: 1px solid rgb(184, 148, 69);
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin: 20px 10px;
}
.right-side {
  flex: 65%;
  background: rgb(90, 110, 14);
  border-radius: 0 4px 4px 0;
}
.right-side div {
  font-weight: bolder;
  color: #ddd;
  font-size: 25px;
  margin: 10px 0 5px 0;
  text-align: center;
}

.right-side p {
  margin: 0;
  font-size: 13px;
  text-align: center;
  padding: 1px;
}
.right-side p span {
  padding: 0 2px;
  color: rgb(175, 173, 173);
}

/* 

  

.name {
  text-align: center;
  margin: 15px 0px;
  font-weight: bolder;
  font-size: 20px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(118, 117, 117);
  font-size: 13px;
  margin-top: -10px;
}
.last {
  text-align: center;
  font-size: 13px;
  color: rgb(118, 117, 117);
} */
